.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px turquoise inset;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.image-area {
    position: absolute;
}

.main {
    display: flex;
    justify-content: center;
}

.bounding-box:hover {
    box-shadow: 0 0 0 3px blueviolet;
    transition: 1s;
}

.image {
    border-radius: 5%;
}